@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    overflow-x: hidden;  
    background-color: #F7F9EC;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
h1{
    display: flex;
    font-size: 20px;
    margin-left: 80px;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    margin-right: 200px;    
}
.nav-bar a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.nav-bar a:hover{
    color: blueviolet;
}
.body{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-left: 100px; 
    gap: 20px;
    
}
.info{
    display: flex;
    flex-direction: column;
    text-align:start;
    padding: 40px;   
}
.info h2{
    font-size: 40px;
    margin-top: 20px;
}
.info p{
    margin-top: 5px;
}
.btn-gp{
    display: flex;
    gap: 20px;
}
.btn{
    background-color: black;
    color: white;
    width: 150px;
    height: 60px;
    border-radius: 15px;
}
.img{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    margin-right: 200px;
    padding: 10px;
}
.img img{
    width: 350px;
    height: 350px;
    border: solid 2px #F7F9EC ;
    border-radius: 50%;
    z-index: 1;
}
.img::before{
    content: "";
    position: absolute;
    width: 360px;   
    height: 360px;
    border: solid 10px #F7F9EC;
    border-radius: 50%;
    background: linear-gradient(180deg,blueviolet,pink,red,green,yellow) ;
    animation: rotate 3s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.img::after{
    content: "";
    position: absolute;
    inset: 5px;
    border-radius: 10px;
}
.btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.action-btn{
    display: flex;
    justify-content:left;
    gap: 15px;
    margin-top: 15px; 
}
.icon{
    background-color: wheat;
    padding: 5px;
    border-radius: 20px;
    color: white;  
}
button{
    background-color: wheat;
    border-radius: 15px;
    border: 1px ;
    border-color: wheat;
}
